@import url("https://fonts.googleapis.com/css?family=Roboto");

.custom-navigation {
  overflow: hidden;
}

.custom-navigation header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  box-shadow: 0 0 5px silver;
}

.custom-navigation header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear 0.5s infinite;
}

.custom-navigation header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* From https://css.glass */
}
.glass {
  /* background: rgba(255, 255, 255, 0.2); */
  background: white;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 2px rgb(236, 236, 236);

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  /* background: white; */
  /* border-bottom: 1px solid white; */
}
.pure-glass {
  background: rgba(255, 255, 255, 0.2);
  /* background: white; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* box-shadow: 0 0 2px rgb(236, 236, 236); */

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  /* background: white; */
  /* border-bottom: 1px solid white; */
}

/* .custom-navigation header nav .logo a {
} */

.custom-navigation header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.custom-navigation header nav li button {
  display: block;
  position: relative;
  padding: 20px 0px;
  font-size: 13px;
  width: 125px;
  text-align: center;
}
.custom-navigation header nav li .button-cus {
  display: block;
  position: relative;
  padding: 20px 0px;
  font-size: 13px;
  width: 75px;
  text-align: center;
}

.custom-navigation header nav li button:before,
.custom-navigation header nav li button:after {
  content: "";
  bottom: -2px;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.header-top {
  position: relative;
}
.custom-navigation header .header-top:before,
.custom-navigation header .header-top:after {
  content: "";
  bottom: -2px;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-navigation header nav li button:before {
  right: 50%;
}
.custom-navigation header nav li button:after {
  left: 50%;
}

.custom-navigation header nav li button:hover:before,
.custom-navigation header nav li button:hover:after {
  width: 50%;
}

@media only screen and (max-width: 375px) {
  header nav ul {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
}

.dropdown {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, opacity 0.3s ease;
}

/* show the dropdown on hover */
.parent:hover .dropdown {
  opacity: 1;
  height: 150px;
  width: 200px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  padding: 0;
  border-bottom: 1px solid #e5e7eb;
  border-radius: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed:active {
  outline: none !important;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
  padding: 0;
  background-color: none;
  outline: none;
  box-shadow: none;
}
.accordion-button:focus:active {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
.accordion-button::after {
  background-image: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-item:first-of-type .accordion-button {
  border-bottom: 1px solid silver;
}
.accordion-body {
  padding: 0 20px;
}

.about ul li {
  width: 100%;
  text-align: start;
  flex-direction: column;
  font-size: 12px;
}
.about ul {
  list-style: none;
}

.about li:before {
  content: "\2022"; /* Use Unicode character for dot */
  color: black; /* Change color of dot if desired */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.parent-red:hover .child-red {
  color: red;
}

.parent-red:active .child-red {
  color: rgb(254, 61, 61);
}

.spinner {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
