@import url("https://fonts.googleapis.com/css?family=Roboto");

.custom-navigation {
  overflow: hidden;
}

.custom-navigation header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  box-shadow: 0 0 5px silver;
}

.custom-navigation header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear 0.5s infinite;
}

.custom-navigation header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* From https://css.glass */
}
.glass {
  /* background: rgba(255, 255, 255, 0.2); */
  background: white;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 2px rgb(236, 236, 236);

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  /* background: white; */
  /* border-bottom: 1px solid white; */
}
.pure-glass {
  background: rgba(255, 255, 255, 0.2);
  /* background: white; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* box-shadow: 0 0 2px rgb(236, 236, 236); */

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  /* background: white; */
  /* border-bottom: 1px solid white; */
}

/* .custom-navigation header nav .logo a {
} */

.custom-navigation header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.custom-navigation header nav li button {
  display: block;
  position: relative;
  padding: 20px 0px;
  font-size: 13px;
  width: 165px;
  text-align: center;
}

.custom-navigation header nav li button:before,
.custom-navigation header nav li button:after {
  content: "";
  bottom: -2px;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.header-top {
  position: relative;
}
.custom-navigation header .header-top:before,
.custom-navigation header .header-top:after {
  content: "";
  bottom: -2px;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-navigation header nav li button:before {
  right: 50%;
}
.custom-navigation header nav li button:after {
  left: 50%;
}

.custom-navigation header nav li button:hover:before,
.custom-navigation header nav li button:hover:after {
  width: 50%;
}

@media only screen and (max-width: 375px) {
  header nav ul {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
}

.dropdown {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, opacity 0.3s ease;
}

/* show the dropdown on hover */
.parent:hover .dropdown {
  opacity: 1;
  height: 150px;
  width: 200px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  padding: 0;
  border-bottom: 1px solid #e5e7eb;
  border-radius: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed:active {
  outline: none !important;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
  padding: 0;
  background-color: none;
  outline: none;
  box-shadow: none;
}
.accordion-button:focus:active {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}
.accordion-button::after {
  background-image: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-item:first-of-type .accordion-button {
  border-bottom: 1px solid silver;
}
.accordion-body {
  padding: 0 20px;
}

.about ul li {
  width: 100%;
  text-align: start;
  flex-direction: column;
  font-size: 12px;
}
.about ul {
  list-style: none;
}

.about li:before {
  content: "\2022"; /* Use Unicode character for dot */
  color: black; /* Change color of dot if desired */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.parent-red:hover .child-red {
  color: red;
}

.parent-red:active .child-red {
  color: rgb(254, 61, 61);
}
