/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  // color: #ffffff;
  color: rgb(120, 120, 120);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 100;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(79, 79, 79, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgb(121, 121, 121) !important;
  color: rgb(121, 121, 121);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: white;
}

.card_title {
  // color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: rgb(120, 120, 120);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 100;
}
.made_by {
  font-weight: 100;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.modal-content {
  border: none !important;
}

.specialists {
  // Settings

  $c_0: #000000;
  $c_1: #353540;

  display: flex;
  justify-content: center;
  align-items: center;

  .l-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;

    @media screen and (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .b-game-card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-bottom: 150%;
    perspective: 1000px;

    &__cover {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      background-size: cover;
      perspective-origin: 50% 50%;
      transform-style: preserve-3d;
      transform-origin: top center;
      will-change: transform;
      transform: skewX(0.001deg);
      transition: transform 0.35s ease-in-out;

      // Gloss

      &::after {
        display: block;
        content: "";
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background: linear-gradient(
          226deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 0.4) 35%,
          rgba(255, 255, 255, 0.2) 42%,
          rgba(255, 255, 255, 0) 60%
        );
        transform: translateY(-20%);
        will-change: transform;
        transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
      }
    }

    &:hover &__cover {
      transform: rotateX(7deg) translateY(-6px);

      &::after {
        transform: translateY(0%);
      }
    }

    // Shadows

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      background: rgba($c_0, 0.5);
      box-shadow: 0 6px 12px 12px rgba($c_0, 0.4);
      will-change: opacity;
      transform-origin: top center;
      transform: skewX(0.001deg);
      transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
    }

    &:hover::before {
      opacity: 0.6;
      transform: rotateX(7deg) translateY(-6px) scale(1.05);
    }
  }
}

.text-effect {
  @import url("https://fonts.googleapis.com/css?family=Roboto:300");

  text-align: center;
  color: #d63a31;
  font-family: "Lora";
  font-weight: 900;
  font-size: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);

  div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  div:first-of-type {
    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
    animation: showup 7s infinite;
  }

  div:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
  }

  div:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 265px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 265px;
    }
  }

  p {
    font-size: 12px;
    color: #999;
    margin-top: 200px;
  }
}
